{extends file="template/base.html"}
{block name=title}Acupuncture et médecine chinoise - Mon compte{/block}
{block name=content}
<div class="col-md-8 col-sm-12"> <!-- Formulaires -->
  <div class="jumbotron text-center">
    <h2 role="heading" aria-level=2>Mon compte</h2>
    <form id="form_create_account" role="form" action="index.php" method="post">
      <div class="form-group">
        <div class="row">
          <div class="row"> 
            <div class="col-md-6 col-sm-12">
              <label for="lastname">Nom&nbsp;:</label>
              <input type="text" value="{$nom}" role="textbox" id="lastname" class="form-control" name="lastname" placeholder="Nom"required aria-required="true">
            </div>
            <div class="col-md-6 col-sm-12">
              <label for="name">Prénom&nbsp;:</label>
              <input type="text" value="{$prenom}" role="textbox" id="name" class="form-control" name="name" placeholder="Prénom" required aria-required="true">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <label for="e-mail">E-mail&nbsp;:</label>
              <input type="email" value="{$email}" role="textbox" id="e-mail" class="form-control" name="mail" placeholder="E-mail" required aria-required="true">
            </div>
            <div class="col-md-6 col-sm-12">
              <label for="password">Mot de passe&nbsp;:</label>
              <input type="password" role="textbox" id="password" class="form-control" name="mdp" placeholder="Mot de passe" required aria-required="true">
            </div> 
          </div>
          <div class="row">
            <input role="Submit" type="submit" id="modify_account" class="btn btn-default" value="Modifier mon compte"/>
          </div>
        </div>
      </div>
    </form>
  </div>
</div> <!-- Fin formulaires -->
{/block}