{extends file="template/base.html"}
{block name=title}Acupuncture et médecine chinoise - Consultation{/block}
{block name=content}
<div class="col-sm-12 col-md-12">
  <h1 role="heading" aria-level=1>Liste des pathologies</h1>
  <div id="resulat" class="table-responsive">
    <table class="table table-striped table-sortable">
      <thead>
        <tr>
          <th role="columnheader" class="sorted">Pathologies</th>
          <th role="columnheader" class="sorted">Symptômes</th>
        </tr>
      </thead>
      <tbody>
        {foreach from=$liste_patho item=symptomes key=patho}
        <tr>
          <td role="cell" class="sorted">{$patho}</td>
          <td role="cell" class="sorted">
            <ul class="list-group">
              {foreach from=$symptomes item=symptome}
                <li role="listitem" class="list-group-item">
                  {$symptome}
                </li>
              {/foreach}  
            </ul>
          </td>
        </tr>
        {/foreach}
      </tbody>
    </table>
  </div>
</div>

<link href="/static/css/bootstrap-sortable.css" rel="stylesheet">

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/moment.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-sortable.js"></script>

{/block}