{extends file="template/base.html"}
{block name=title}Acupuncture et médecine chinoise - Information{/block}
{block name=content}
<div class="col-md-12 col-sm-12">
  <div class="jumbotron text-left">

  	<h2 role="heading" class="text-center" aria-level=2>Utilisation du site</h2>
  	<p>
  		La page d'accueil permet de créer son compte en entrant son nom, son prénom, son adresse mail ainsi qu'un mot de passe. Elle permet aussi de se connecter à l'aide de son adresse mail et de son mot de passe.
  		Une fois connecté, il est possible de modifier ces informations.
  	</p>
  	<p>
  		La page consulration permet de lister toutes les pathologies avec leurs symptômes. Il est possible de les trier par ordre alphabétique et inverse.
  	</p>
  	<p>
  		La page recherche avancée permet de rechercher précisément une pathologies en fonction de différents critères : <ul class="info"> 
  		<li class="info">méridiens (cocher les cases voulues)</li>
  		<li class="info">mots clés sur les pathologies (séparer les mots clés par une virgule ou un point virgule)</li>
  		<li class="info">mots clé sur les symptômes (séparer les mots clés par une virgule ou un point virgule)</li>
  		<li class="info">types de pathologies (cocher le type désiré ainsi que la ou les cractéristiques associées lorsqu'il y en a)</li>
  		</ul>
  	</p>
  	</div>
<div class="jumbotron text-center">
    <h2 role="heading" aria-level=2>Bibliographie</h2>


    <h3 role="heading" aria-level=3>Tutoriels</h3>
    <p>
		Liens utilisés : 
	</p>	
		<p><a class="small" href="https://openclassrooms.com/courses/un-moteur-de-template-smarty">https://openclassrooms.com/courses/un-moteur-de-template-smarty<a/></p>
		<p><a class="small" href="http://fredods.com/creer-votre-site-avec-smarty-en-mvc-partie-1/">http://fredods.com/creer-votre-site-avec-smarty-en-mvc-partie-1/</a></p>
		<p><a class="small" href="https://openclassrooms.com/courses/concevez-votre-site-web-avec-php-et-mysql/organiser-son-code-selon-l-architecture-mvc">https://openclassrooms.com/courses/concevez-votre-site-web-avec-php-et-mysql/organiser-son-code-selon-l-architecture-mvc</a></p>

    
    <h3 role="heading" aria-level=3>css et html</h3>
    	
	<p><a href="http://getbootstrap.com/">bootstrap</a></p>
	<p><a href="https://bootswatch.com/readable/">bootstrap readable</a></p>
	<p><a href="http://www.w3schools.com/">W3School</a></p>

	<h3 role="heading" aria-level=3>Tout autres problèmes</h3>
	<p><a href="http://stackoverflow.com/">Stackoverflow</a></p>

    </div>
</div>

{/block}