{extends file="template/base.html"}
{block name=title}Acupuncture et médecine chinoise - Information{/block}
{block name=content}
<div class="col-md-8 col-sm-12">
  <div class="jumbotron text-center">
    <h2 role="heading" aria-level=2>Informations</h2>
    <p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum orci lorem, tincidunt ut magna non, dictum egestas ante. Ut sit amet nibh consequat, molestie magna eget, semper dui. Quisque in nibh quam. Suspendisse potenti. Aenean non nunc diam. Aenean venenatis enim nisi, at ultricies nisi imperdiet in. Ut vel suscipit erat, ut feugiat nisl. Cras pretium lectus elit, ut fringilla neque efficitur vitae. Duis a orci urna. Vestibulum accumsan sollicitudin fringilla. Maecenas mauris erat, porttitor dictum metus a, scelerisque tempor ligula. Sed neque urna, gravida tincidunt mollis ac, efficitur ut nulla. Sed rutrum diam nec tincidunt sollicitudin. Duis eu molestie quam, eget efficitur nulla. Cras iaculis justo eget sapien fringilla interdum.

		Praesent vestibulum, orci et accumsan fermentum, eros elit sollicitudin turpis, a aliquet metus eros eget enim. Vivamus a euismod ante. Proin et aliquam urna. Ut feugiat justo lacus, ut gravida nulla euismod quis. Donec hendrerit, felis quis rhoncus rutrum, ligula odio hendrerit ipsum, id mollis diam lorem id risus. Ut at tempor mi, sit amet auctor metus. Duis dapibus quam non felis tristique, vitae finibus magna rutrum. Quisque malesuada dui eget felis vehicula, in dignissim ex facilisis. Donec sed scelerisque leo. Proin ut risus a tellus rhoncus blandit nec non orci. Fusce luctus leo lectus, vitae consequat nulla porta in. Nam sed odio a diam tristique maximus. Nunc vitae nunc id nulla mattis gravida. Curabitur velit nisl, tempus quis porttitor vel, lacinia ac neque. 
    </p>
    </div>
</div>
{/block}