{extends file="template/base.html"}
{block name=title}Acupuncture et médecine chinoise - Information{/block}
{block name=content}
<div class="col-md-8 col-sm-12">
  <div class="jumbotron text-center">
    <h2 role="heading" aria-level=2>Informations</h2>
    <p>
		Liens utilisés : 
	</p>	
		<p><a class="small" href="https://openclassrooms.com/courses/un-moteur-de-template-smarty">https://openclassrooms.com/courses/un-moteur-de-template-smarty<a/></p>
		<p><a class="small" href="http://fredods.com/creer-votre-site-avec-smarty-en-mvc-partie-1/">http://fredods.com/creer-votre-site-avec-smarty-en-mvc-partie-1/</a></p>
		<p><a class="small" href="https://openclassrooms.com/courses/concevez-votre-site-web-avec-php-et-mysql/organiser-son-code-selon-l-architecture-mvc">https://openclassrooms.com/courses/concevez-votre-site-web-avec-php-et-mysql/organiser-son-code-selon-l-architecture-mvc</a></p>


    </div>
</div>

{/block}