{extends file="template/base.html"}
{block name=title}Acupuncture et médecine chinoise - Recherche avancée{/block}
{block name=content}

<div class="col-sm-12 col-md-12">
{if $logged}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 role="heading" aria-level=1 >Recherche avancée de pathologies</h1>
    </div>
    <div class="panel-body">
      <div id="recherche">
        <form id="search" action="/recherche-avancee/recherche" method="post">
          <div class="form-group">


            <div class="row">
              <div class="col-md-12 col-sm-12">
                <label for="meridien">Méridien&nbsp;:</label>
                <div class="sMeridien checkbox">
                 {foreach from=$liste_merid item=merid}
                    <label class=".checkbox-inline" for="{$merid.code}">
                      <input id="{$merid.code}" role="checkbox" type="checkbox" name="meridien[]" value="{$merid.code}"> {$merid.nom} &nbsp;
                    </label>
                    {/foreach}
                </div>


               <!--  <select id="meridien" class="form-control" role="listbox" name="meridien" multiple>
                {foreach from=$liste_merid item=merid}
                  <option value="{$merid.code}">{$merid.nom}</option>
                {/foreach}
                </select> -->

              </div>
              </div>
              <div class="row littlespacer">
              <div class="col-md-6 col-sm-12">
                <label for="mot_patho">Mots clés pathologies&nbsp;:</label>
                <input type="text" id="mot_patho" class="form-control" name="mot_patho" placeholder="Pathologie">
              </div>
           <!--  </div> --> <!-- end row -->

            
            <div class="col-md-6 col-sm-12">
            </div>
              <div class="col-md-6 col-sm-12">
                <label for="symptomes">Symptômes&nbsp;:</label>
                <input type="text" id="symptomes" class="form-control" name="symptomes" placeholder="Symptômes">
              </div>
            </div><!-- end row -->


            <div class="form-group">

              <div class="row littlespacer">
                <div class="col-md-6 col-sm-12">
                  <label class="control-label" for="type_patho"> Type de Pathologie&nbsp;:
                  </label>
                </div>
              </div> <!-- end row -->

              <div class="row">
                <div class="radio col-md-3 col-sm-3">
                  <label>
                    <input name="type_patho" id="rMeridien" value="m" checked="" type="radio" class="rbTypePatho">
                    Méridien
                  </label>
                </div>
                <div class="col-md-9 col-sm-9 checkbox" id="CbM">
                  <label class=".checkbox-inline" for="mi">
                    <input id="mi" role="checkbox" type="checkbox" name="cbCaract[]" value="mi"> Interne
                  </label>
                  <label class=".checkbox-inline" for="me">
                    <input id="me" role="checkbox" type="checkbox" name="cbCaract[]" value="me"> Externe
                  </label>
                </div>
              </div> <!-- end row -->

              <div class="row">
                <div class="radio col-md-3 col-sm-3">
                  <label>
                    <input name="type_patho" id="rTsangFu" value="tf" type="radio" class="rbTypePatho">
                    Tsang Fu
                  </label>
                </div>
                <div class="col-md-9 col-sm-9 checkbox" id="CbTf">
                  <label class=".checkbox-inline" for="tfp">
                    <input id="tfp" role="checkbox" type="checkbox" name="cbCaract[]" value="tfp"> Plein
                  </label>
                  <label class=".checkbox-inline" for="tfv">
                    <input id="tfv" role="checkbox" type="checkbox" name="cbCaract[]" value="tfv"> Vide
                  </label>
                  <label class=".checkbox-inline" for="tfc">
                    <input id="tfc" role="checkbox" type="checkbox" name="cbCaract[]" value="tfc"> Chaud
                  </label>
                  <label class=".checkbox-inline" for="tff">
                    <input id="tff" role="checkbox" type="checkbox" name="cbCaract[]" value="tff"> Froid
                  </label>
                </div>
              </div> <!-- end row -->

              <div class="row">
                <div class="radio col-md-3 col-sm-3">
                  <label>
                    <input name="type_patho" id="rJingJin" value="j" checked="" type="radio" class="rbTypePatho">
                    Jing Jin
                  </label>
                </div>
              </div> <!-- end row -->

              <div class="row">
                <div class="radio col-md-3 col-sm-3">
                  <label>
                    <input name="type_patho" id="rVoiesLuo" value="l" checked="" type="radio" class="rbTypePatho">
                    Voies Luo
                  </label>
                </div>
                <div class="checkbox col-md-9 col-sm-12" date-toggle="buttons" id="CbL">
                  <label class=".checkbox-inline" for="lv">
                    <input id="lv" role="checkbox" type="checkbox" name="cbCaract[]" value="lv"> Vide
                  </label>
                  <label class=".checkbox-inline" for="lp">
                    <input id="lp" role="checkbox" type="checkbox" name="cbCaract[]" value="lp"> Plein
                  </label>
                </div>
              </div><!-- end row -->

              <div class="row">
                <div class="radio col-md-3 col-sm-3">
                  <label>
                    <input name="type_patho" id="rMerveilleuxVaisseaux" value="mv" checked="" type="radio" class="rbTypePatho">
                    Merveilleux vaisseaux
                  </label>
                </div>
              </div> <!-- end row -->

              <div class="row">
                <div class="radio col-md-3 col-sm-3">
                  <label>
                    <input name="type_patho" id="vide" value="default" checked="true" type="radio" class="rbTypePatho">
                    Aucun de ces critères
                  </label>
                </div>
              </div> <!-- end row -->

            </div> <!-- from-group -->




            <div class="row spacer pull-right">
              <input type="reset" role="button" id="btn_reinit" class="btn btn-default" value="Réinitialiser"/>
              <input type="submit" role="Submit" id="btn_rechercher" class="btn btn-primary" value="Rechercher"/>
            </div> <!-- end row -->

          </div> <!--form-group-->
        </form>
      </div> <!-- end recherche -->
    </div> <!-- end panel body -->
  </div>  <!-- end panel -->


  <div class="row largespacer">
  </div>

  <div id="resulat" class="table-responsive">
    <table class="table table-striped table-sortable">
      <thead>
        <tr>
          <th class="sorted">Pathologies</th>
        </tr>
      </thead>
      <tbody>
        {foreach from=$liste_patho item=patho}
        <tr>
          <td class="sorted">{$patho.desc}</td>
        </tr>
        {/foreach}
      </tbody>
    </table>
  </div>
</div>

<link href="/static/css/bootstrap-sortable.css" rel="stylesheet">

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/moment.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-sortable.js"></script>

<script type="text/javascript" src="/static/js/ShowHideCaract.js"></script>
{else}
  <p>Veuillez vous connecter !</p>
{/if}
{/block}
